# Dependencies
node_modules
/.pnp
.pnp.js

# Production build
dist
dist-ssr

# Environment & local files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System & editor
.DS_Store
Thumbs.db
.vscode
.idea

# Vercel
.vercel
